<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel = ”stylesheet” href = ”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <meta name="viewport"
    content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a3f2ed9b5b.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
      
<header class="main-header"> 
    <div class="main-header-to-bar">
        <img class="imagen-logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
        <!--div class="copy-header">
                <form action="#">
                    <input type="text"
                        placeholder="Buscar productos, marcas y más"
                        name="search">
                    <button><i class="fa fa-search" style="font-size: 18px;"></i>
                    </button>
                </form>
        </div-->
        <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compras en cuotas  sin tarjeta de credito</h2>
    </div>
    <nav class="burger-menu"><i class="fas fa-bars"></i></nav>
    <ul class="navbar-izq">
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
        <li><a href="/vender">Vender</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
    </ul>
    <ul class="navbar-der">
        <li><a href="/register1">Crea tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis Compras</a></li>
    </ul>
    </nav>
    

</header>
<body>
    <div><img class="banner-img" src="/images/img-home-banner.jpg" alt="banner"></div>

    <main class="style-main">
          
        <h3 class="titulares">Basado en tu ultima visita</h3>
        <div class="team-article">
            <div class="bloque-art">
            <img class="articulos" src="/images/img-cafetera-moulinex.jpg" width="90%" alt="cafetera">
            <div class="icono-truck"><i class="fa-solid fa-truck"></i></div>
            <p>$6.770</p>
            <p class="text-prc">40% OFF</p>
            <p>Cafetera Molinex</p></div></div>

            <div class="team-article">
            <div class="bloque-art">
            <img class="articulos" src="/images/img-macbook-pro-2019.jpg" width="90%" alt="cafetera">
            <div class="icono-truck"><i class="fa-solid fa-truck"></i></div>
            <p>$70.500</p>
            <p class="text-prc">20% OFF</p>
            <p>Macbook Pro </p></div></div>

            <div class="team-article">
            <div class="bloque-art">
            <img class="articulos" src="/images/img-samsung-galaxy-s10.jpg" width="90%" alt="cafetera">
            <div class="icono-truck"><i class="fa-solid fa-truck"></i></div>
            <p>$70.500</p>
            <p class="text-prc">10% OFF</p>
            <p>Samsung Galaxy S10</p></div></div>

            <div class="team-article">
            <div class="bloque-art">
            <img class="articulos" src="/images/img-tv-samsung-smart.jpg" width="90%" alt="cafetera">
            <div class="icono-truck"><i class="fa-solid fa-truck"></i></div><p>$23.200</p>
            <p class="text-prc">5% OFF</p>
            <p>SmartTv Samsung 43"</p></div></div>

<h3 class="titulares">Sección de ofertas</h3>
<div class="team-article">
    <div class="bloque-art">
    <img class="articulos" src="/images/img-samsung-galaxy-s10.jpg" width="90%" alt="cafetera">
    <div class="icono-truck"><i class="fa-solid fa-truck"></i></div>
    <p>$70.500</p>
    <p class="text-prc">10% OFF</p>
    <p>Samsung Galaxy S10</p></div></div>

    <div class="team-article">
    <div class="bloque-art">
    <img class="articulos" src="/images/img-tv-samsung-smart.jpg" width="90%" alt="cafetera">
    <div class="icono-truck"><i class="fa-solid fa-truck"></i></div><p>$23.200</p>
    <p class="text-prc">5% OFF</p>
    <p>SmartTv Samsung 43"</p></div></div>
           
            </body>
</main>
</html>