<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a3f2ed9b5b.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
    
<header class="head-principal"> 
    <nav class="Barra-busqueda">
        <div class="logo-principal">
            <img src="/images/logo-mercado-liebre.svg" width="100%" alt="Logo"></div>
    <div class="form" action="#" method="GET">
        <div class="submit"><i class="fa fa-search"></i></div><div class="input">Buscar productos, marcas y más</div>  
    </div></nav>
<div class="text-card-heder"><i class="fas fa-credit-card"></i><p>Compras en cuotas y sin tajeta de credito</p></div>
    

    <nav class="burger-menu"><i class="fas fa-bars"></i></nav>
</header>

<h2>Lugar de la tienda oficial</h2>
<body>
    
</body>
</html>